/* src/app/genre-results/GenreResults.module.css */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .font-size-release {
    font-size: 5px;
  }

