@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400!important;
  font-style: normal;
}

.modal-content {
  background-color: #ffffff21 !important;
  backdrop-filter: blur(10px);
}

.modalNavTabs .nav-link {
  background-color: #262626;
}

.modalNavTabs {
  border: 0;
}


.first-letter-genre::first-letter {
  text-transform: uppercase;
}

body {
  background-color: #000000!important;
}

@media screen and (min-width: 992px) {
  .img-login {
    max-width: inherit;
    min-width: 350px;
  }

  .containerFormLogin {
    margin: auto!important;
  }

  .containerTabs {
    position: relative;
    width: auto!important;
    justify-content: center;
    display: flex;
    top: 110px;
  }
}

@media screen and (max-width: 992px) {
  .img-login {
    max-width: -webkit-fill-available ;
    margin-top: -75px;
  }

  .containerFormLogin {
    margin-top: 55px!important;
  }

  .containerTabs {
    position: relative;
    width: auto!important;
    justify-content: center;
    display: flex;
  }

}